<web-app>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMemberServlet</servlet-name>
        <servlet-class>servlet.AddMemberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMemberServlet</servlet-name>
        <url-pattern>/add_member</url-pattern>
    </servlet-mapping>
</web-app>